<div class="container">
    <h2> {{prd | json}}</h2>
<form (submit)="AddPrd()" #addForm="ngForm">
    <div class="form-group">
      <label for="Name">Name</label>
      <input #prdname="ngModel" name="Name" required [(ngModel)]="prd.name" type="text" class="form-control" id="Name"  placeholder="Enter Name">
    </div>
    @if(prdname.touched&&prdname.invalid){
        <div class="text-danger">this field is required</div>
    }
    <div class="form-group">
      <label for="Price">Price</label>
      <input #prdprice="ngModel" name="Price" required [(ngModel)]="prd.price" type="number" class="form-control" id="Price" placeholder="Price">
    </div>
    @if(prdprice.touched&&prdprice.invalid){
        <div class="text-danger">this field is required</div>
    }
      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input #prdqua="ngModel" name="Quantity" required [(ngModel)]="prd.quantity" type="number" class="form-control" id="Quantity" placeholder="Quantity">
      </div>
      @if(prdqua.touched&&prdqua.invalid){
        <div class="text-danger">this field is required</div>
    }
      <div class="form-group">
        <label for="Img">ImgUrl</label>
        <input #prdimg="ngModel" name="Img" required [(ngModel)]="prd.imgUrl" type="file" class="form-control" id="Img">
      </div>
      @if(prdimg.touched&&prdimg.invalid){
        <div class="text-danger">this field is required</div>
    }
      <div class="form-group">
        <label for="" class="form-label">Categories</label>
    <select #prdcat="ngModel" required class="form-select form-select-lg" name="select" id="" [(ngModel)]="prd.catId">
        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
    </select>
      </div>
      @if(prdcat.touched&&prdcat.invalid){
        <div class="text-danger">this field is required</div>
    }
    
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>